stages:
  - test
  - quality

test:
  stage: test
  image: python:3.11
  script:
    - cd backend
    - pip install -r requirements.txt
    - pip install pytest pytest-django pytest-cov djangorestframework
    - pytest
  artifacts:
    paths:
      - backend/coverage.xml
    expire_in: 1 week
  rules:
    - when: always

sonarcloud:
  stage: quality
  image:
    name: sonarsource/sonar-scanner-cli:latest
    entrypoint: [""]
  cache:
    key: "${CI_JOB_NAME}"
    paths:
      - .sonar/cache
  script:
    - sonar-scanner -Dsonar.projectKey=M-Aparecida1_readlist -Dsonar.organization=m-aparecida1 -Dsonar.host.url=https://sonarcloud.io -Dsonar.sources=. -Dsonar.python.coverage.reportPaths=backend/coverage.xml
  rules:
    - when: always